---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About The Blog';
const identity = {
  firstName: 'Evan',
  country: 'United States',
  occupation: 'Software Engineer',
  hobbies: [
    'Coding',
    'Cigars',
    'Driving for hours without a known destination',
  ],
};

const skills = [
  'HTML',
  'CSS',
  'JavaScript',
  'React',
  'Astro',
  'Java',
  'Spring',
  'SQL',
  'Prompt Engineering',
];
const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1 {
        
        font-size: 4rem;
      }
      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
      .dark .skill {
        color: #928c8c;
      }
    </style>
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
    <h2>...and why this site came to be!</h2>
    <p>
      This Blog is a place for me to share my thoughts, experiences, deeply troubling insights and jaw-droppingly ecstatic moments all relating to Computer Science and software development. I've always been a bit of a scatterbrain, so I figured I'd put it to good use and share my thoughts with the world. I currently do a fair amount of independent work with Java and Spring, and have been begrudginly but effectively learning more and more about React. I'm currently learning Python, Django, and Flask on one end of my moods and things like Astro on the other end. Astro had a tutorial to build this initial blog so I went through it and enjoyed myself thoroughly. I'll be improving and adding to the site as time goes on, and the main blog posts will consist of that process and my thoughts, along with the utter flamboyant joys of hunting for a job in the tech industry, and whatever else I'm doing involving code. 
    </p>
    <p>
      My name is Evan and I have been working in the tech industry for over three years but was laid off in 2023 from my position as a Software engineer. I've been working on my own projects and learning new technologies since then, as well as spending quite a bit of quality time with my kids. However I'm eager to work, and this blog will just be something else I can work on when the madness starts to seem in to my subconscious. I used to furiously write autobiographical fiction and poetry and drink heavily to keep the madness at bay. Now, I write code and learn new technologies, a field of study that will NEVER grow old or boring. Thus, the calm persists despite the gathering storm of the human subconcious. I'm excited to see where this blog goes, and I hope you are at least curious.
    </p>
    <p>
      If you are reading this. Thank you! I am slightly neurotic about wasting time so I do much appreciate you taking the time to check this out and hope you stay tuned for future posts. I'll always strive to avoid wasting anyones time with this blog. 
    </p>

    <!-- <p>Here are a few, less scattered facts about me:</p>
    <ul>
      <li>My name is {identity.firstName}.</li>
      <li>
        I live in {identity.country} and I work as a {identity.occupation}.
      </li>
      {
        identity.hobbies.length >= 2 && (
          <li>
            Two of my hobbies are: {identity.hobbies[0]} and{' '}
            {identity.hobbies[2]}
          </li>
        )
      }
    </ul> -->
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>I am happy to be learning Astro!</p>}

    {finished && <p>I finished this tutorial!</p>}

    {
      goal === 3 ? (
        <p>My goal is to finish in 3 days.</p>
      ) : (
        <p>My goal is not 3 days.</p>
      )
    }
    </BaseLayout>
  </body>
</html>
